BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ADMIN_ID=YOUR_TELEGRAM_ID
SECRET_KEY=CHANGE_ME
DB_HOST=localhost
DB_PORT=3306
DB_USER=farnoud
DB_PASSWORD=CHANGE_ME
DB_NAME=farnoudbot

# Telegram Mini App
BOT_USERNAME=YourBotUsername
TELEGRAM_INIT_DATA_MAX_AGE=86400
MIN_CHARGE=10000
MAX_CHARGE=50000000
